
.terminal {
  font-family: monospace;
  background-color: black;
  color: green;
  padding: 10px;
}

.command-line,
.old-command-line {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.prompt {
  margin-right: 10px;
}

.command-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: green;
  outline: none;
  font-family: monospace;
}

.output-line {
  color: green;
  white-space: pre-wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Additional classes remain unchanged */
.about-div {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.about-img {
  width: 20%;
  padding-right: 5px;
}

.twoddesign-div {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.firstdraft-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.firstdraft-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.about-p {
  padding-left: 5px;
}

body {
  background-color: black;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}