
  .terminal {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: black;
    color: green;
  }
  
  .command-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
  }
  
  .command-input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: green;
    outline: none;
    font-family: monospace;
  }

  body {
    background-color: black;
  }

  .about-div {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .about-img {
    width: 200px;
    padding-right: 5px;
  }

  .about-p {
    padding-left: 5px;
  }